<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TQBEdu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <!--Sidebar-->
    <div th:if="${role == 'Teacher'}" class="sidebar">
        <a href="#" class="logo">
            <i class='bx bxs-graduation'></i>
            <div class="logo-name"><span>TQBEdu</span></div>
        </a>
        <ul class="side-menu">
            <form th:action="@{/back-to-dashboard}" method="get">
                <li><button><i class='bx bxs-dashboard'></i>Trang chủ</button></li>
            </form>
            <form th:action="@{/profile}" method="get">
                <li class="active"><button><i class='bx bx-user-circle'></i>Xem hồ sơ</button></li>
            </form>
            <form th:action="@{/teacher/classroom/classrooms-page?}" method="get">
                <li><button><i class='bx bx-book-open'></i>Xem các lớp học</button></li>
            </form>
            <form th:action="@{/teacher/exam/create-exam-page}" method="get">
                <li><button><i class='bx bx-edit'></i>Tạo đề thi</button></li>
            </form>
            <form th:action="@{/teacher/exam/view-exams-by-filter-page}" method="get">
                <li><button><i class='bx bx-folder'></i>Xem các đề thi</button></li>
            </form>
            <li><button><i class='bx bx-cog'></i>Cài đặt</button></li>
        </ul>
        <ul class="side-menu">
            <form th:action="@{/logout}" method="get" id="logoutForm">
                <li type="submit" id="logoutButton"><button class="logout"><i class='bx bx-log-out'></i>Đăng
                        xuất</button></li>
            </form>

        </ul>
    </div>

    <div th:if="${role == 'Student'}" class="sidebar">
        <a href="#" class="logo">
            <i class='bx bxs-graduation'></i>
            <div class="logo-name"><span>TQBEdu</span></div>
        </a>
        <ul class="side-menu">
            <form th:action="@{/back-to-dashboard}" method="get">
                <li><button><i class='bx bxs-dashboard'></i>Trang chủ</button></li>
            </form>
            <form th:action="@{/profile}" method="get">
                <li class="active"><button><i class='bx bx-user-circle'></i>Xem hồ sơ</button></li>
            </form>
            <form th:action="@{/student/classroom/classrooms-page?}" method="get">
                <li><button><i class='bx bx-book-open'></i>Xem các lớp học</button></li>
            </form>
            <form th:action="@{/student/exam/training}" method="get">
                <li><button><i class='bx bx-folder'></i>Xem các đề thi tự luyện</button></li>
            </form>
            <li><button><i class='bx bx-cog'></i>Cài đặt </button></li>
        </ul>
        <ul class="side-menu">
            <form th:action="@{/logout}" method="get" id="logoutForm">
                <li type="submit" id="logoutButton"><button class="logout"><i class='bx bx-log-out'></i>Đăng
                        xuất</button></li>
            </form>
        </ul>
    </div>
    <!-- End of Sidebar -->
    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <a href="#" class="profile">
                <form th:action="@{/profile}" method="get">
                    <button class="profile" style="background-color: white; border: none;">
                        <img th:src="@{'/uploads/' + ${avatarFileName}}">
                    </button>
                </form>
            </a>
        </nav>
        <!-- End of Navbar -->
        <main style="margin:30px 20px;">
            <div>
                <form th:action="@{/profile}" method="get">
                    <input type="submit" value="Quay lại hồ sơ cá nhân" class="back-button" />
                </form><br>
                <div class="profile-ui">
                    <div class="profile-setting">
                        <ul class="profile-choice">
                            <form th:action="@{profile/edit}" method="get">
                                <li><button><i class='bx bx-user'></i>Thay đổi thông tin cá nhân</button></li>
                            </form>
                            <form th:action="@{change-password-page}" method="get">
                                <li><button style="background-color: #96120f; color: white;"><i
                                            class='bx bx-lock'></i>Đổi mật khẩu</button></li>
                            </form>
                        </ul>
                    </div>
                    <div class="profile-information">
                        <h2 style="color: #96120f;font-size: 30px;">Đổi mật khẩu</h2>

                        <form action="/change-password" method="post">
                            <div>
                                <label for="currentPassword" style="font-weight: 500;">Mật khẩu hiện tại:</label>
                                <input type="password" id="currentPassword" name="currentPassword" required>
                            </div><br>

                            <div>
                                <label for="newPassword" style="font-weight: 500;">Mật khẩu mới:</label><br>
                                <input type="password" id="newPassword" name="newPassword" required>
                            </div><br>

                            <div>
                                <label for="confirmPassword" style="font-weight: 500;">Xác nhận mật khẩu mới:</label>
                                <input type="password" id="confirmPassword" name="confirmPassword" required>
                            </div><br>

                            <div th:if="${message}" id="messageDiv" class="alert alert-success">
                                <p th:text="${message}"></p>
                            </div>

                            <button style="
                                width: auto;
                                padding: 8px;
                                height: 38px;
                                border-radius: 3px;
                                border-color: white;
                                font-size: 16px;
                                text-align: center;
                                border: none;
                                margin-left: 43%;" class="Doimatkhau" type="submit">Đổi mật khẩu</button>
                        </form>
                    </div>
                </div>
        </main>
    </div>

    <script>
        setTimeout(function () {
            var messageDiv = document.getElementById("messageDiv");
            if (messageDiv) {
                messageDiv.style.display = "none";
            }
        }, 2000); // message disapear after 2s
    </script>
    <script src="/js/index.js"></script>

</body>

</html>