<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TQBEdu | Quên mật khẩu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles2.css">
</head>

<body style="
        background-color: rgb(241 245 249);
        height: 100vh;">


    <form action="/" method="get">
        <input type="submit" value="Quay về trang đăng nhập"
            style="height: 40px; background-color: #96120f; color: white; padding: 5px 10px; border: none; border-radius: 4px; cursor: pointer; font-weight: 700;" />
    </form>
    <div style="
            width: 100%;
            align-items: center;
            position: relative;
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            top: 40px;
            ">
        <div style="
                display: flex;
                align-content: center;
                justify-content: center;
                flex-wrap: nowrap;
                align-items: stretch;
                flex-direction: column;
                background-color: white;
                width: 460px;
                background-position: center;
                border-radius: 5px;
                padding: 20px;
                margin: 10px ;
                margin-top: 0px;
                box-shadow: 0 3px 20px #0000000b;">
            <div style="width: 100%; height: 36px; padding: 10px;">
                <img style="height: 100%; top: -7px;"
                    src="https://asso.hust.edu.vn/adfs/portal/logo/logo.png?id=A8E33BA95D4C63D8147636CEE88614D90A44EA48DD6B131351C1B97BA71F6E89">

            </div>
            <div class="divTitle">Quên mật khẩu</div>
            <div>
                <div style="display: flex;">
                    <input class="resetpass" type="text" id="email" name="email" placeholder="Email đăng kí tài khoản"
                        required><br><br>

                    <button class="sendToken" id="sendToken">Gửi mã</button>
                </div>
            </div>
            <br>
            <div id="emailStatus" style="font-size: 15px; font-weight: 500; " class="alert alert-success">
            </div>

            <input class="resetpass" type="text" id="tokenId" name="tokenId" placeholder="Mã xác nhận" required><br>
            <div id="tokenStatus" style="font-size: 15px; color: #96120f; font-weight: 500; "
                class="alert alert-success">
            </div>
            <button id="checkValidToken" class="checkValidToken">Xác nhận</button>
        </div>

        <script>

            document.getElementById("sendToken").addEventListener("click", function () {
                document.getElementById("sendToken").disabled = true;
                document.getElementById("sendToken").innerHTML = '<img src="/images/loading1.gif" style="width:30px; height:30px;">';
                document.getElementById("emailStatus").style.color = "black";
                document.getElementById("emailStatus").textContent = null;
            });

            document.getElementById("sendToken").addEventListener("click", function () {
                var email = document.getElementById("email").value;
                document.getElementById("emailStatus").textContent = "Vui lòng đợi trong giây lát";
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/api/auth/forget-password?email=" + email, true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var response = xhr.responseText;
                        document.getElementById("sendToken").innerHTML = "Gửi mã";
                        if (response.startsWith("Email")) {
                            document.getElementById("emailStatus").style.color = "#96120f";
                        }
                        else {
                            document.getElementById("emailStatus").style.color = "#067a3a";
                        }
                        document.getElementById("sendToken").disabled = false;
                        document.getElementById("emailStatus").textContent = response;
                    }
                };
                xhr.send();
            });

            document.getElementById("checkValidToken").addEventListener("click", function () {
                var tokenId = document.getElementById("tokenId").value;
                var email = document.getElementById("email").value;
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/api/auth/check-token?tokenId=" + tokenId, true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var response = xhr.responseText;
                        if (response === "OK.") {
                            window.location.href = "/reset-password-page?tokenId=" + tokenId;
                        }
                        else {
                            document.getElementById("tokenStatus").textContent = response;
                        }
                    }
                };
                xhr.send();
            });
        </script>

    </div>
    </div>

</body>

</html>